{% extends "layout.html" %}

{% block title %}
    My Log
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td colspan="2">TIME TOTAL</td>
                <td>{{ total_time }} Minutes</td>
            </tr>
        </head>
        <tbody>
            <tr>
                <th>Date recorded</th>
                <th>Workout type</th>
                <th>Time</th>
            </tr>
            {% for i in numbers %}
            <tr>
                <td>{{ history[i]['date_created'] }}</td>
                <td>{{ history[i]['type'] }}</td>
                <td>{{ history[i]['time'] }}</td>
                {% endfor %}
            </tr>

        </tbody>
    </table>
{% endblock %}
