{% extends "layout.html" %}

{% block title %}
    Recent
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Date recorded</th>
                <th>Name</th>
                <th>Workout type</th>
                <th>Time</th>
            </tr>
            {% for i in numbers %}
            <tr>
                <td>{{ history[i]['date_created'] }}</td>
                <td>{{ history[i]['username'] }}</td>
                <td>{{ history[i]['type'] }}</td>
                <td>{{ history[i]['time'] }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}
